body{
    background-color: white;
    font-family: arial, sans-serif;
}

.navbar{
    margin-bottom: 20px;
}

.container{
    /* width: 80%;
    margin: auto;
    overflow: hidden; */
    max-width: 800px;
}

#city-search{
    margin-bottom: 20px;
}

.container button{
    margin-top: 10px;
}

#city-list{
    max-height: 200px;
    overflow-y: hidden;
}

.card{
    padding: 20px;
    margin-bottom: 20px;
}

#forecast .card{
    margin-right: 10px;
    margin-left: 10px;
}