body{
    background-color: white;
    font-family: arial, sans-serif;
}

.navbar{
    margin-bottom: 20px;
}

.container{
    /* width: 80%;
    margin: auto;
    overflow: hidden; */
    max-width: 800px;
    margin: 0;

}

#city-search{
    margin-bottom: 20px;
}

.container button{
    margin-top: 10px;
}

#city-list{
    max-height: 200px;
    overflow-y: hidden;
}


.card-group .card{
    flex: 1 0 auto;
    margin: 5px;
    margin-right: 5px ;
    /* max-width: 18rem; */
    background-color: #343a40;
    color: white;
}

.card-group .card .list-group-item{
    background-color: #343a40;
    color: white;
    margin-right: 5px;
}
